<%= simple_form_for @group, local: true do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="container">
  <%= f.input :name %>
  <%= f.input :integrantes %>


  <h3>Crews</h3>
  <div id="crews">
    <%= f.fields_for :crews do |crew| %>
    <%= render 'crew_fields', f: crew %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add crew', f, :crews %>
    </div>
  </div>

  <%= f.input :date_start%>

  <%= f.input :status, collection: Group.statuses.keys %>

  <%= f.button :submit, class: "btn-primary" %>
  
  <% end %>
  
</div>
